body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00b4e6;
}

#map-contact {
  height: 250px;
}

section {
  padding-top: 140px;
}

/* ----------------------------------------------------------------- */
/* Heading Title ----------------------------------------------------*/
/* ----------------------------------------------------------------- */

h1, h2, h3 {
  font-weight: bold;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px auto 20px;
  background: #00b4e6;
}

/* ----------------------------------------------------------------- */
/* Heading Title END ------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Team -------------------------------------------------------------*/
/* ----------------------------------------------------------------- */

.team-member .social a.facebook {
  background-color: #4460ae;
}

.team-member .social a.gplus {
  background-color: #c21f25;
}

.team-member .social a.twitter {
  background-color: #3cf;
}

.team-member .social a.email {
  background-color: #4a7f45;
}

.team-member {
  text-align: center;
}

.team-member .img-responsive {
    margin: 0 auto;
}

.team-member .social {
  margin-bottom: 20px;
}

.team-member .social a:hover {
  top: -2px;
}

.team-member .social a i {
  vertical-align: bottom;
  line-height: 26px;
}

.team-member .social a {
  position: relative;
  margin: 0 5px 0 5px;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  vertical-align: bottom;
  top: 0;
  text-decoration: none;
  font-weight: normal;
}

/* ----------------------------------------------------------------- */
/* Team END ---------------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Testimonial ------------------------------------------------------*/
/* ----------------------------------------------------------------- */

.quote {
  /*color: rgba(0,0,0,.1);*/
  color: #00b4e6;
  text-align: center;
  margin-bottom: 30px;
}

#fade-quote-carousel h4 {
  text-align: center;
  font-weight: bold;
}

#fade-quote-carousel blockquote {
  font-size: 16px;
  font-style: italic;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  min-height: 250px;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #00b4e6;
  border: none;
}

#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}

#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
  margin-bottom: 20px;
}

/* ----------------------------------------------------------------- */
/* Testimonial END --------------------------------------------------*/
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Services Box -----------------------------------------------------*/
/* ----------------------------------------------------------------- */

.box-services {
  padding: 40px 20px 20px;
  background: #00b4e6;
  text-align: center;
  color: #fff;
}
.box {
  margin-bottom: 30px;
}

/* ----------------------------------------------------------------- */
/* Services Box END -------------------------------------------------*/
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Navbar Brand Image -----------------------------------------------*/
/* ----------------------------------------------------------------- */

.navbar-brand > img {
   max-height: 100%;
   height: 100%;
   -o-object-fit: contain;
   object-fit: contain;
  }

.navbar-brand {
  max-height: 120px;
  line-height: 120px;
  height: 120px;
  overflow: visible;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-right: 30px;
}

/* ----------------------------------------------------------------- */
/* Navbar Brand Image END -------------------------------------------*/
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Custom Top Nav ---------------------------------------------------*/
/* ----------------------------------------------------------------- */

#top-nav {
  background-color: #ffffff;
  border: 0;
  box-shadow: none;
}

#top-nav .dropdown-menu {
	border-radius: 0;
	border: none;
	padding-top: 0;
}

#top-nav .container {
  border-bottom: 1px #00b4e6 solid;
}

#top-nav .navbar-nav {
  margin-top: 40px;
}

#top-nav .navbar-toggle {
  margin-top: 45px;
}

#top-nav .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #00b4e6;
}

#top-nav .dropdown-menu .divider {
  background-color: #00b4e6;
}

.navbar-default .navbar-nav {
  font-weight: bold;
  background-color : transparent;
  font-size: 16px;
}

.navbar-default .navbar-nav>.current>a, .navbar-default .navbar-nav>.current>a:focus, .navbar-default .navbar-nav>.current>a:hover {
  color: #00b4e6;
  background-color : transparent;
}

/* ----------------------------------------------------------------- */
/* Custom Top Nav END -----------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Contact Info -----------------------------------------------------*/
/* ----------------------------------------------------------------- */

.contact-info div i {
    width: 25px;
    min-width: 25px;
}

#contact-message {
  height: 123px;
}
/* ----------------------------------------------------------------- */
/* Contact Info END -------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Custom Footer Nav ------------------------------------------------*/
/* ----------------------------------------------------------------- */

.footer {
    bottom: 0;
    width: 100%;
    background-color: #00b4e6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
}

.footer a {
  color: #fff;
}

.footer .social {
  text-align: right;
}

.footer .social ul {
  margin: 0;
}

.footer .social ul li {
  margin-left: 20px;
  list-style: none outside none;
  display: inline-block;
}

/* ----------------------------------------------------------------- */
/* Custom Footer Nav END --------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Custom Selection -------------------------------------------------*/
/* ----------------------------------------------------------------- */

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

/* ----------------------------------------------------------------- */
/* Custom Selection END ---------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Proxima-nova Font Import -----------------------------------------*/
/* ----------------------------------------------------------------- */

@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proximanova-webfont.eot');
  src: url('../font/proximanova-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanova-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proximanova-bold-webfont.eot');
  src: url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ----------------------------------------------------------------- */
/* Proxima-nova Font Import END--------------------------------------*/
/* ----------------------------------------------------------------- */
