body {
  padding-top: 120px;
}

/* ----------------------------------------------------------------- */
/* Navbar Brand Image -----------------------------------------------*/
/* ----------------------------------------------------------------- */

.navbar-brand > img {
   max-height: 100%;
   height: 100%;
   padding: 25px;
   -o-object-fit: contain;
   object-fit: contain;
  }

.navbar-brand {
  max-height: 120px;
  line-height: 120px;
  height: 120px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

/* ----------------------------------------------------------------- */
/* Navbar Brand Image END -------------------------------------------*/
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Custom Top Nav ---------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* Styles before scroll */
#top-nav {
  background-color: #ffffff;
  border: 0;
  box-shadow: none;
}

#top-nav .dropdown-menu {
	border-radius: 0;
	border: none;
	padding-top: 0;
}

#top-nav .container {
  border-bottom: 1px #00b4e6 solid;
  border-bottom: 1px #eee solid;
}

#top-nav .navbar-nav>li>a {
  line-height: 90px;
}

#top-nav .navbar-toggle {
  margin-top: 45px;
  margin-bottom: 40px;
}

/* ----------------------------------------------------------------- */
/* Custom Top Nav END -----------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Custom Top Nav ---------------------------------------------------*/
/* ----------------------------------------------------------------- */

#footer-nav {
  background-color: #00b4e6;
  border: 0;
  box-shadow: none;
  z-index: 999;
}

#footer-nav .container {
  padding-top: 50px;
 	padding-bottom: 50px;
  color: #ffffff;
}

/* ----------------------------------------------------------------- */
/* Custom Top Nav END -----------------------------------------------*/
/* ----------------------------------------------------------------- */
