html {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000;
  /* margin-bottom: 110px; */
  width: 100%;
  height: 100%;
}

a {
  color: #00b4e6;
}

h1, h2, h3 {
  font-weight: bold;
}

h4 {
  font-size: 22px;
}

#map-contact {
  height: 250px;
}

section {
  padding-top: 140px;
}

.lead {
  text-align: center;
}

/* ----------------------------------------------------------------- */
/* Navbar Brand Image -----------------------------------------------*/
/* ----------------------------------------------------------------- */

.navbar-brand > img {
   max-height: 100%;
   height: 100%;
   -o-object-fit: contain;
   object-fit: contain;
  }

.navbar-brand {
  max-height: 120px;
  line-height: 120px;
  height: 120px;
  overflow: visible;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-right: 30px;
}

/* ----------------------------------------------------------------- */
/* Navbar Brand Image END -------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Custom Top Nav ---------------------------------------------------*/
/* ----------------------------------------------------------------- */

#top-nav {
  background-color: #ffffff;
  border: 0;
  box-shadow: none;
}

#top-nav .dropdown-menu {
	border-radius: 0;
	border: none;
	padding-top: 0;
}

#top-nav .container {
  border-bottom: 1px #00b4e6 solid;
}

#top-nav .navbar-nav {
  margin-top: 40px;
}

#top-nav .navbar-toggle {
  margin-top: 40px;
}

#top-nav .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #00b4e6;
}

#top-nav .dropdown-menu .divider {
  background-color: #00b4e6;
}

.navbar-default .navbar-nav  {
  font-weight: bold;
  background-color : transparent;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>li>a{
  color:#000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color:#000;
  background-color : transparent;
}

.navbar-default .navbar-nav>.current>a, .navbar-default .navbar-nav>.current>a:focus, .navbar-default .navbar-nav>.current>a:hover {
  color: #00b4e6;
  background-color : transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #00b4e6;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.menu {
	position: relative;
	display:  inline-block;
	width: 30px;
	height: 30px;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 4px;
	background-color: #00b4e6;
	display: block;
}
.menu span:before {
	margin-top: -10px;
}
.menu span:after {
	margin-top: 10px;
}

.navbar-toggle span {
	-webkit-transition: 0.2s ease 0s; transition: 0.2s ease 0s;
}
.navbar-toggle span:before, .navbar-toggle span:after {
	-webkit-transition-property: margin, opacity; transition-property: margin, opacity;
	-webkit-transition-duration: 0.2s, 0s; transition-duration: 0.2s, 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.navbar-toggle:hover span {
	width: 16px;
	height: 16px;
	margin-top: -5px;
	-webkit-border-radius: 50%; border-radius: 50%;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.navbar-toggle:hover span:before, .navbar-toggle:hover span:after {
	margin-top: 0px;
	opacity: 0;
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

/* ----------------------------------------------------------------- */
/* Custom Top Nav END -----------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Intro ------------------------------------------------------------*/
/* ----------------------------------------------------------------- */

.intro {
  top: 121px;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../images/error.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

@media(min-width:768px) {
  .intro {
    height: 60%;
    padding: 0;
  }

  .intro .intro-body .brand-heading {
    font-size: 100px;
  }

  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 4px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background-color: #00b4e6;
}

.btn-circle:hover, .btn-circle:focus {
  outline: 0;
  color: #fff;
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/* ----------------------------------------------------------------- */
/* Intro END --------------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Heading Title ----------------------------------------------------*/
/* ----------------------------------------------------------------- */

.heading {
  text-align: center;
  margin-bottom: 40px;
}

.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px auto 20px;
  background: #00b4e6;
}

/* ----------------------------------------------------------------- */
/* Heading Title END ------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Team -------------------------------------------------------------*/
/* ----------------------------------------------------------------- */

.team-member .social a.facebook {
  background-color: #4460ae;
}

.team-member .social a.gplus {
  background-color: #c21f25;
}

.team-member .social a.linkedin {
  background-color: #006fa6;
}


.team-member .social a.twitter {
  background-color: #3cf;
}

.team-member .social a.email {
  background-color: #4a7f45;
}

.team-member {
  text-align: center;
}

.team-member img {
  border-radius: 300px;
}

.team-member .img-responsive {
    margin: 0 auto;
}

.team-member .social {
  margin-bottom: 20px;
}

.team-member .social a:hover {
  top: -2px;
}

.team-member .social a i {
  vertical-align: bottom;
  line-height: 26px;
}

.team-member .social a {
  position: relative;
  margin: 0 5px 0 5px;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  vertical-align: bottom;
  top: 0;
  text-decoration: none;
  font-weight: normal;
}

/* ----------------------------------------------------------------- */
/* Team END ---------------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Testimonial ------------------------------------------------------*/
/* ----------------------------------------------------------------- */

.quote {
  color: #00b4e6;
  text-align: center;
  margin-bottom: 30px;
}

.carousel {
  padding-bottom: 60px;
}

.carousel h4 {
  text-align: center;
  font-weight: bold;
  border: none;
}

.carousel img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.carousel .carousel-inner .item {
  min-height: 480px;
}

@media(min-width:768px) {
  .carousel .carousel-inner .item {
    min-height: 380px;
  }
}

.carousel .carousel-inner .item blockquote {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  border: none;
}

.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

.carousel .carousel-indicators {
  bottom: 10px;
}

.carousel-indicators .active {
  height: 16px;
  width:  16px;
}

.carousel .carousel-indicators > li {
  background-color: #00b4e6;
  vertical-align: middle;
  border: none;
}

/* ----------------------------------------------------------------- */
/* Testimonial END --------------------------------------------------*/
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Services Box -----------------------------------------------------*/
/* ----------------------------------------------------------------- */

.box-services {
  padding: 40px 20px 20px;
  background: #00b4e6;
  text-align: center;
  color: #fff;
}
.box {
  margin-bottom: 30px;
  min-height: 340px;
}

.box-title {

}

/* ----------------------------------------------------------------- */
/* Services Box END -------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Contact Info -----------------------------------------------------*/
/* ----------------------------------------------------------------- */

.contact-info div i {
    width: 25px;
    min-width: 25px;
}

#contact-message {
  height: 123px;
}
/* ----------------------------------------------------------------- */
/* Contact Info END -------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Button -----------------------------------------------------------*/
/* ----------------------------------------------------------------- */

.btn-default {
  font-weight: bold;
}

/* ----------------------------------------------------------------- */
/* Button END -------------------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Custom Footer Nav ------------------------------------------------*/
/* ----------------------------------------------------------------- */

.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #00b4e6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
}

.footer a {
  color: #fff;
}

.footer .social {
  text-align: right;
}

.footer .social ul {
  margin: 0;
}

.footer .social ul li {
  margin-left: 20px;
  list-style: none outside none;
  display: inline-block;
}

/* ----------------------------------------------------------------- */
/* Custom Footer Nav END --------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Custom Selection -------------------------------------------------*/
/* ----------------------------------------------------------------- */

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

/* ----------------------------------------------------------------- */
/* Custom Selection END ---------------------------------------------*/
/* ----------------------------------------------------------------- */

/* ----------------------------------------------------------------- */
/* Proxima-nova Font Import -----------------------------------------*/
/* ----------------------------------------------------------------- */

@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proximanova-webfont.eot');
  src: url('../font/proximanova-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanova-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proximanova-bold-webfont.eot');
  src: url('../font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ----------------------------------------------------------------- */
/* Proxima-nova Font Import END--------------------------------------*/
/* ----------------------------------------------------------------- */
